*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(/ActorImage/back-2.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.Verification{
    width: 420px;
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
    background: #457b9d;
}
.Verification h1{
    font-size: 36px;
    text-align: center;
    margin: 30px 0;
}
.Verification h2{
    font-size: 25px;
    text-align: center;
}
.Verification h4{
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}
.Verification .Back{
    margin-top: 30px;
    margin-left: 150px;
    margin-bottom: 20px;
    width: 50px;
    height: 30px;
    border-radius: 20px;
    border: none;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-weight: 500;
    color: black;
    transition: 0.2s;
    font-weight: bold;
} 
.Verification .Back:hover{
    background-color: #a8dadc;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, .7);
    transform: scale(0.9);
    z-index: 1;
}
.OTP .Resend:hover{
    background-color: #a8dadc;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, .7);
    transform: scale(0.9);
    z-index: 1;
}
.Input-Box input:hover{
    border: 2px solid rgba(255, 255, 355 ,0.7);
}
